/*----------------------------------------------
                                               -
Glume Blog                                     -
                                               -
Date: 2020/09/03                               -
                                               -
https://bsgun.cn 【修改不易】                  -
                                               -
看见这个我希望你能够留下我信息                 -
                                               -
-----------------------------------------------*/
#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel{box-shadow:none!important;margin-left:25px!important;margin-bottom:65px!important}#artitalk_main p.shuoshuo_time{border-top:1px dashed #b1b1b1!important}#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel:after{border-right-color:#9bcD9B7a!important}#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after{border-right-color:#49b1f57a!important}#artitalk_main .cbp_tmlabel:hover{box-shadow:none!important!important;transform:translateY(0)!important}.b-l{border-left:1px solid #96969675!important}.m-l-lg{margin-left:35px!important}#artitalk_main #lazy{background:#fff0!important}#artitalk_main .shuoshuo_author_img img{margin-left:-40px!important}#operare_artitalk .c2{color:#e08f6c!important}